/* CSS minimal Reset by Digital Ocean */

html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* End of Reset */

body {
  height: 100vh;
  font-family: "Poppins", sans-serif;
  background-color: rgba(255, 235, 205, 0.767);
}

.content {
  height: 100%;
  display: flex;
}

.bookshelf {
  height: 100%;
  flex: 1;
}

.text-content {
  align-self: center;
  height: 95vh;
  border-radius: 20px;
  padding: 2vmax;
  background-color: white;
  box-shadow: 0px 0px 80px -20px black;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 15vh;
}

h1 {
  font-weight: 700;
  font-size: max(10rem, 24px);
  letter-spacing: -8px;
}

.text-content button {
  appearance: none;
  border: 2px solid black;
  height: 200px;
  width: 200px;
  background-color: white;
  font-size: 10rem;
  align-self: center;
}

.text-content button:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}
